<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MeshLayouts" value="../../Content/export/MeshLayouts.xml"/>
    <add key="ExportsFolder" value="../../Content/export/"/>
        
    <add key="SourceTextures" value="C:\roman\WeatherGame\Content\Textures"/>
    <add key="ProcessedTextures" value="C:\roman\WeatherGame\Content\export\"/>

    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
